@use "../../main.scss" as *;

.Header {
  padding: 25px 0;
  background-color: $bg-alt-color;

  // ===== Header-content =====
  .Header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;

    @media (max-width: 850px) {
      justify-content: center;
      position: relative;
    }
  }

  // ===== Header-logo =====
  .Header-logo {
    @media (max-width: 850px) {
      text-align: center;
      width: 100%;
      font-size: 20px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

    @media (max-width: 350px) {
      font-size: 12px;
    }
  }

  // ===== Header-content-links =====
  .Header-content-links {
    display: flex;
    gap: 20px;

    .non-active {
      color: $font-color-alt;

      transition: color 0.2s ease;
      &:hover {
        color: $font-color;
      }
    }

    .active {
      text-decoration: underline;
      color: $font-color;
    }

    @media (max-width: 850px) {
      display: none;
    }
  }

  // ===== Header-content-menu-btn =====
  .Header-content-menu-btn {
    display: none;
    background: transparent;
    border: none;
    padding: 0;
    align-items: center;
    justify-content: center;

    @media (max-width: 850px) {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
    }

    // ===== Icon inside button =====
    .Header-content-menu-btn-icon {
      width: 35px;
      height: 35px;

      @media (max-width: 350px) {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.Header-content-menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $bg-alt-color2;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vh;
  font-size: 25px;
  z-index: 1000;

  * {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid $font-color;
  }

  .menu-mobile-active {
    color: $font-color;
  }

  .menu-mobile-non-active {
    color: $font-color-alt;
  }

  &.open {
    animation: isMenuOpen 0.15s ease forwards;
  }

  &.close {
    animation: isMenuClose 0.15s ease forwards;
  }
}

@keyframes isMenuOpen {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes isMenuClose {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.Header-content-rukia {
  position: absolute;
  top: 15;
  left: 280;
}
