@use "@/shared/styles/global.scss" as *;

.ContactContent {
  display: flex;
  flex-direction: column;

  background-color: $bg-alt-color3;
  padding: 15px;
  border-radius: 15px;
  gap: 15px;

  animation: pageContentOpen 0.15s ease;
}
