@use "../../styles/global.scss" as *;

.Header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $bg-alt-color;
  z-index: 1;
  height: 60px;
  font-size: 24px;

  &Links {
    display: flex;
    gap: 15px;

    * {
      color: #afafaf;
    }

    &Button {
      display: none;
      height: 35px;

      @media (max-width: $medium-screen) {
        display: block;
      }
    }

    @media (max-width: $medium-screen) {
      display: none;
    }
  }
}

.MobileMenu {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: $bg-alt-color;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);

  * {
    color: #afafaf;
    padding: 15px;
    border-bottom: 1px solid #fff;
  }

  &.Open {
    animation: Open 0.15s ease forwards;
  }

  &.Close {
    animation: Close 0.15s ease forwards;
  }
}

.Active {
  color: $font-color;
  text-decoration: underline;
}

@keyframes Open {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes Close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
