@use "@/shared/styles/global.scss" as *;

.Terms {
  display: flex;
  flex-direction: column;

  gap: 15px;

  &Element {
    display: flex;
    flex-direction: column;

    padding: 15px;
    border-radius: 15px;
    background-color: $bg-alt-color3;

    gap: 15px;

    &Video {
      display: flex;
      flex-direction: column;

      gap: 15px;

      button {
        cursor: pointer;
        background-color: $bg-alt-color2;
        border: none;
        border-radius: 10px;
        width: 160px;
        height: 40px;
      }

      iframe {
        border: none;
        width: 560px;
        height: 315px;
      }
    }
  }
}
