// COLORS
$font-color: #fff;
$font-color-alt: #b4b4b4;
$bg-main-color: #2f2933;
$bg-alt-color: #1d1c20;

// SCREEN
$medium-screen: 850px;
$small-screen: 350px;

body {
  padding: 0;
  margin: 0;

  background-color: $bg-main-color;

  * {
    padding: 0;
    margin: 0;

    color: $font-color;
    text-decoration: none;
  }
}

.container {
  padding: 0 100px;
}
