.Filter {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.Icon {
  width: 45px;
  height: 45px;

  transition: transform 0.15s ease;
  cursor: pointer;
}

.Open {
  transform: rotate(-180deg);
}
